img{
    height: 440px;
    width: 792px;
    object-fit: cover;
    transition: 0.9s;
    
}
img:hover{cursor: pointer;
}
body{background-color:black;
     align-items: center;
}
img:active{
    transform: scale(0.9);
}